body{
    font-family: "Press Start 2P", system-ui;
    background: #FDE2E4;
    color: #fe5d9f;
    font-size: 20px;
}
p{
font-size: 15px;
color: #ff92c2;
}
.header{
    font-family: "Press Start 2P", system-ui;
    color: #ff92c2;
    font-size: 15px;
}
.button-container{

    display: flex;
}
.button{
font-family: "Press Start 2P", system-ui;
font-size:20px;
background-color:#fe5d9f;
color:#fff;
border-color: #fff;
margin-right: 16px;
}
