body{
margin:70px;
font-family: "Press Start 2P", system-ui;
background: #FDE2E4;
color: #fe5d9f;
font-size: 20px;
}
.container{
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  height: 100vh;
  }
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
p{
font-size: 15px;
color: #ff92c2;
}
.header{
font-family: "Press Start 2P", system-ui;
color: #ff92c2;
font-size: 15px;
}
.button-container{
display: flex;
margin: 50px 100px;
}
.button{
font-family: "Press Start 2P", system-ui;
font-size:20px;
background-color:#fe5d9f;
color:#fff;
border-color: #fff;
margin-right: 16px;
text-align:center;
padding: 14px 25px
position: relative;
top: 200px;
}
img{
display:block;
max-width: 100%;
height: auto;
vertical-align: middle;
font-style: italic;
background-repeat: no-repeat;
background-size: cover;
shape-margin: 0.75rem
}
#btn{
font-family: "Press Start 2P", system-ui;
font-size:20px;
background-color:#fe5d9f;
color:#fff;
border-color: #fff;
margin-right: 16px;
text-align:center;
padding: 14px 25px
position: relative;
top: 200px;
}
.center {
  margin: 0;
  position: absolute;
  margin-top: 500px
  left: 50%;
}
